.header{
  background-image: url("/src/img/fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 181px;
  overflow: hidden;
&__wrapper{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
  &__button{
    background-color:transparent;
    border: 1px solid #3F6FB7;
    padding: 22px 44px;
    color: #3F6FB7;
    margin-left: auto;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    margin-top: 166px;
   &-text{
     margin-top: 25px;
     font-size: 18px;
     font-weight: 300;
     line-height: 30px;
     color: #414141;
     width: 442px;
   }
    &-button{
      margin-top: 32px;
    }
  }
}
.title{
  font-size: 41px;
  font-weight: 800;
  line-height: 52px;
  color: #414141;
  margin-top: 25px;
}


@media (max-width: 644px) {
  .header{
    &__wrapper{
      justify-content: center;
    }
  &__list{
    margin-top: 15px;
  }
    &__button{
      margin-left: 0;
      margin-top: 15px;
    }
    &__content{
      justify-content: center;
      text-align: center;
      margin-top: 50px;
      &-img{
        display: none;
      }
      &-text{
        width: 100%;
      }
    }
  }
  .title{
    font-size: 28px;
    line-height: 42px;
  }
}
@media (max-width: 400px) {
  .header {
   &__item{
     margin: 0;
   }
    &__link{
      font-size: 14px;
    }
    &__content{
      margin-top: 20px;
    }
  }
  .header__item:nth-child(2){
  margin: 0 10px;
  }
}
@media (max-width: 320px) {
  .header{
    width: 360px;
    overflow: unset;
  }
}